<app-main>
        <div gdl>
                <button mat-raised-button color="primary" (click)="gdlAddItem()" style="left: 20px; top: 28px">Aggiungi
                        Lavoro</button>
                <!--Tabella Per la visualizzazione del giornale dei lavori-->
                <app-gdl-visual></app-gdl-visual>
        </div>
        <div ldm>
                <button mat-raised-button color="primary" (click)="ldmAddItem()" style="left: 20px; top: 28px">Aggiungi
                        Misurazione</button>
                <!--Tabella per la visualizzazione del libretto delle misure-->
                <app-ldm-visual></app-ldm-visual>
        </div>
        <div rc>
                <!--Tabella per la visualizzazione del registro contabile-->
                <app-rc-visual></app-rc-visual>
        </div>
        <div sal>
                <!--Tabella per la visualizzazione del sal-->
                <app-sal-visual></app-sal-visual>
        </div>

</app-main>