<h2 mat-dialog-title>Aggiunta Nuovo SAL</h2>
<mat-vertical-stepper [linear]=true #stepper>
  <mat-step [stepControl]="firstForm">
      <form [formGroup]="firstForm">
        <ng-template matStepLabel>
          Tariffa e Lavoro
        </ng-template>
        <mat-form-field>
            <input matInput formControlName="lavoro" placeholder="Lavoro" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput formControlName="num_tariffa" placeholder="N° Tariffa" required>
      </mat-form-field>
        <div>
            <button mat-raised-button color="primary" matStepperNext>Successivo</button>
        </div>
        </form>
  </mat-step>
  <mat-step [stepControl]="secondForm">
      <form [formGroup]="secondForm">
        <ng-template matStepLabel>
          Quantità e Importo
        </ng-template>
        <mat-form-field>
          <input matInput placeholder="Inserisci Quantità" formControlName="quantita" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Inserisci Importo" formControlName="importo" required>
        </mat-form-field>
        <div>
          <button mat-raised-button color="accent" matStepperPrevious style="right: 20px">Indietro</button>
          <button mat-raised-button color="primary" matStepperNext>Successivo</button>
        </div>
      </form>
  </mat-step>
  <mat-step>
      <ng-template matStepLabel>Fatto!</ng-template>
      <div>
        <button mat-raised-button color="warn" style="right:20px" (click)="stepper.reset()">Reset</button>
        <button mat-raised-button color="primary" (click)="sendNewSal()">Invia</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>