<div class="callback-logo" align="center">
    <img class="logo" src="../../../../assets/SAM-logos/logo.png" height=100 width=100>
    <mat-spinner diameter="150" strokeWidth="2" class="spinner"></mat-spinner>
</div>