<mat-card class="signCard">
    <mat-card-header>
      <mat-icon style="color: lightgrey">create</mat-icon>
      <mat-card-title>Approvazione Misura</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item> <strong>Indicazioni:</strong>&nbsp; {{data.misura['des_lav']}} </mat-list-item>
            <mat-list-item> <strong>Data:</strong>&nbsp; {{data.misura.data}} </mat-list-item>
            <mat-list-item> <strong>Tariffa:</strong>&nbsp;{{data.misura['tar']}}  </mat-list-item>
            <mat-list-item> <strong>Costo:</strong>&nbsp;{{data.misura['costo']}}  </mat-list-item>
            <mat-list-item> <strong>Aliquota:</strong>&nbsp;{{data.misura['aliq']}}% </mat-list-item>
            <mat-list-item> <strong>Quantità:</strong>&nbsp;{{data.misura['tot']}} </mat-list-item>
           </mat-list>
      <p style="margin-top: 20px">
        Sei sicuro di voler approvare questa misura ?
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="sign(data.id)">
        <mat-icon>check</mat-icon>
        Conferma</button>
      <button mat-button color="link" (click)="close()">
          <mat-icon>exit_to_app</mat-icon>
        Annulla</button>
    </mat-card-actions>
  </mat-card>