<h3 mat-dialog-title class="dialogTitle">
  <h3>Communication</h3>
</h3>
<div mat-dialog-content class="dialogContainer">

  <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">


    <ng-container matColumnDef="Data">
      <td mat-cell *matCellDef="let element"> {{element.data}} </td>
      <th mat-header-cell *matHeaderCellDef> Data </th>
    </ng-container>

    <ng-container matColumnDef="Oggetto">
      <td mat-cell *matCellDef="let element">
        <p class="maxChar">{{element.oggetto}} </p>
      </td>
      <th mat-header-cell *matHeaderCellDef> Oggetto </th>
    </ng-container>

    <ng-container matColumnDef="Mittente">
        <td mat-cell *matCellDef="let element">
          <p class="maxChar">{{element.mittente}} </p>
        </td>
        <th mat-header-cell *matHeaderCellDef> Mittente </th>
      </ng-container>

    <ng-container matColumnDef="Informazioni">
        <td mat-cell *matCellDef="let element">
          <p class="pointer"> &nbsp;&nbsp;&nbsp;&nbsp; <mat-icon aria-hidden="false" style="color: rgb(0, 0, 0)">arrow_drop_down</mat-icon> </p>
        </td>
        <th mat-header-cell *matHeaderCellDef> </th>
      </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="example-element-detail" style="padding-top: 0.05cm" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

    
            <mat-list>
              <h3 mat-subheader>Email</h3>
              <mat-list-item>
                <mat-icon aria-hidden="false" style="color: rgb(207, 207, 207)">date_range</mat-icon>
                <p style="font-size: 14px; ">&nbsp;&nbsp; <strong>Data: </strong> &nbsp;&nbsp; {{element.data}}</p>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <mat-icon aria-hidden="false" style="color: rgb(207, 207, 207)">create</mat-icon> &nbsp;&nbsp;
                <strong style="font-size: 14px">Oggetto: </strong> &nbsp;&nbsp; <p style="font-size: 14px;" class="pContainer">{{element.oggetto}}</p>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <mat-icon aria-hidden="false" style="color: rgb(207, 207, 207)">person_pin</mat-icon> &nbsp;&nbsp;
                <strong style="font-size: 14px">Mittente: </strong> &nbsp;&nbsp;<p style="font-size: 14px;" class="pContainer">{{element.mittente}}</p>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <mat-icon aria-hidden="false" style="color: rgb(207, 207, 207)">person_pin</mat-icon> &nbsp;&nbsp;
                <strong style="font-size: 14px">Destinatario: </strong> &nbsp;&nbsp;<p style="font-size: 14px;" class="pContainer">{{element.destinatario}}</p>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <mat-icon aria-hidden="false" style="color: rgb(207, 207, 207)">create</mat-icon> &nbsp;&nbsp;
                <strong style="font-size: 14px">Testo: </strong> &nbsp;&nbsp;<p style="font-size: 14px;" class="pContainer">{{element.testo}}</p>
              </mat-list-item>
              <mat-divider></mat-divider>
              

            </mat-list>
        </div>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

  </table>
  <div [@.disabled]="disableAnimation">
  <mat-accordion>
    <mat-expansion-panel style="width: 45%; float: right;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Invia Email 
        </mat-panel-title>
        <mat-panel-description>
          Compila i seguenti campi
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field>
        <mat-label>Destinatario</mat-label>
        
        <mat-select [formControl]="toppings" multiple>
          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
        </mat-select>
      </mat-form-field>

      <form [formGroup]="emailForm">
      <mat-form-field>
        <input matInput placeholder="Oggetto" formControlName="oggetto" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <textarea matInput placeholder="Testo"  formControlName="testo" required style="width: 200px"></textarea>
      </mat-form-field>
    </form>
      <br>
      <a mat-button (click)="newEmail()" style="text-align: center;">Invia</a>
    </mat-expansion-panel>
  </mat-accordion>
</div>
</div>

<div mat-dialog-actions style=" justify-content: flex-end;">
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</div>