<h2 mat-dialog-title>Aggiunta Nuova Misurazione</h2>
<mat-vertical-stepper [linear]=true #stepper>
  <mat-step [stepControl]="firstForm">
      <form [formGroup]="firstForm">
        <ng-template matStepLabel>
          Data , Tariffa e Lavoro
        </ng-template>
        <mat-form-field>
          <input matInput [min]="minDate" formControlName="data" [matDatepicker]="picker" placeholder="Scegli una data">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput formControlName="tar" placeholder="Tariffa" required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput formControlName="des_lav" placeholder="Lavoro" required>
        </mat-form-field>
        <div>
            <button mat-raised-button color="primary" matStepperNext>Successivo</button>
        </div>
        </form>
  </mat-step>
  <mat-step [stepControl]="secondForm">
      <form [formGroup]="secondForm">
        <ng-template matStepLabel>
          Costo
        </ng-template>
        <mat-form-field>
          <input matInput placeholder="Inserisci Costo" formControlName="costo" required>
        </mat-form-field>
        <div>
          <button mat-raised-button color="accent" matStepperPrevious style="right: 20px">Indietro</button>
          <button mat-raised-button color="primary" matStepperNext>Successivo</button>
        </div>
      </form>
  </mat-step>
  <mat-step [stepControl]="thirdForm">
      <form [formGroup]="thirdForm">
        <ng-template matStepLabel>
          Percentuale
        </ng-template>
        <mat-form-field>
          <div>
              <input matInput placeholder="Inserisci Percentuale" formControlName="tot" type="number" max="100" required>
          </div>
        </mat-form-field>
        <div>
          <button mat-raised-button color="accent" matStepperPrevious style="right: 20px">Indietro</button>
          <button mat-raised-button color="primary" matStepperNext>Successivo</button>
        </div>
      </form>
  </mat-step>
  <mat-step>
      <ng-template matStepLabel>Fatto!</ng-template>
      <div>
        <button mat-raised-button color="warn" style="right:20px" (click)="stepper.reset()">Reset</button>
        <button mat-raised-button color="primary" (click)="sendNewMisure()">Invia</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
