<h3 mat-dialog-title class="dialogTitle">
    <h3>{{chart}}</h3>
</h3>
  <div mat-dialog-content class="dialogContainer">
      <p-chart type="bar" [data]="data" [options]="options" width="70vw" height="55vh" *ngIf=visualBar></p-chart>
      <p-chart type="line" [data]="data" width="70vw" height="55vh" *ngIf=visualLine></p-chart>
      <p-chart type="polarArea" [data]="data"  width="70vw" height="55vh" *ngIf=visualPol></p-chart>
      <button mat-fab color="primary" (click)="changeChart()">
        <mat-icon aria-hidden="false">
            arrow_right
        </mat-icon>
      </button>
  </div>