.iconInfo {
    float: right;
    padding-right:1cm; 
    font-size: 36px;
    cursor:help;
  }


  .iconInfoEmail{
    float: right;
    padding-right: 1cm;
    font-size: 36px;
    cursor: pointer;
  }
  table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: rgb(212, 212, 212);
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    border: 0.1px solid rgb(218, 218, 218);
    overflow: hidden;
    display: flex;
    -webkit-box-shadow: 0px 5px 20px -10px #000000; 
    box-shadow: 0px 5px 20px -10px #000000;
  }

  .pContainer {
    width: 300px; 
    word-break: break-all;
  }
  
  .pointer{
  cursor: pointer;
  }
  .photo-container {
    min-width: 80px;
    border: 0.3px solid black;
   text-align: right;
    font-weight: lighter;
    height: 104px;
  }
  
  .mat-column-Informazioni {
  display: flex;
  justify-content: flex-end;
}

  .maxChar{
    width:100px; 
    overflow:hidden; 
    text-overflow:ellipsis;
    white-space:nowrap;
  }


  .allinea{
    
  padding-top: 1cm;
    padding-left: 15cm;
    padding-right: 0.5cm;  
  }


.red {
    color: red; 
}

.green {
  color: lightgreen;
}