<div>
  <mat-form-field class="example-full-width" style="left: 210px; bottom: 18px">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <mat-icon aria-hidden="false" color="primary" aria-label="Giornale dei lavori - Info" (click)="gdlInfoDialog()"
    class="iconInfo">info_outline</mat-icon>

  <mat-icon aria-hidden="false" color="primary" aria-label="Communication" (click)="emailDialog()"
    class="iconInfoEmail">email</mat-icon>



  <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

    <ng-container matColumnDef="Num">
      <td mat-cell *matCellDef="let element"> {{dataSource.filteredData.indexOf(element)}} </td>
      <th mat-header-cell *matHeaderCellDef> Num. </th>
    </ng-container>

    <ng-container matColumnDef="Data">
      <td mat-cell *matCellDef="let element"> {{element.data}} </td>
      <th mat-header-cell *matHeaderCellDef> Data </th>
    </ng-container>

    <ng-container matColumnDef="Annotazioni">
      <td mat-cell *matCellDef="let element">
        <p class="maxChar">{{element.annotazioni}} </p>
      </td>
      <th mat-header-cell *matHeaderCellDef> Annotazioni </th>
    </ng-container>


    <ng-container matColumnDef="Informazioni">
      <td mat-cell *matCellDef="let element">
        <p class="pointer"> &nbsp;&nbsp;&nbsp;&nbsp; <mat-icon aria-hidden="false" style="color: rgb(0, 0, 0)">
            arrow_drop_down</mat-icon>
        </p>
      </td>
      <th mat-header-cell *matHeaderCellDef> </th>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="example-element-detail" style="padding-top: 0.05cm"
          [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">


          <mat-list>
            <h3 mat-subheader>Lavoro Num. {{element.ID_giornale}}</h3>
            <mat-list-item>
              <mat-icon aria-hidden="false" style="color: rgb(207, 207, 207)">date_range</mat-icon>
              <p style="font-size: 14px; ">&nbsp;&nbsp; <strong>Data: </strong> &nbsp;&nbsp; {{element.data}}</p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <mat-icon aria-hidden="false" style="color: rgb(207, 207, 207)">create</mat-icon> &nbsp;&nbsp;
              <strong style="font-size: 14px">Annotazioni: </strong> &nbsp;&nbsp; <p style="font-size: 14px;"
                class="pContainer">{{element.annotazioni}}</p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <mat-icon aria-hidden="false" style="color: rgb(207, 207, 207)">cloud_queue</mat-icon> &nbsp;&nbsp;
              <strong style="font-size: 14px">Meteo: </strong> &nbsp;&nbsp;<p style="font-size: 14px;"
                class="pContainer">{{element.meteo}}</p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <mat-icon aria-hidden="false" style="color: rgb(207, 207, 207)">directions_car</mat-icon> &nbsp;&nbsp;
              <strong style="font-size: 14px">Mezzi: </strong> &nbsp;&nbsp;<p style="font-size: 14px;"
                class="pContainer">{{element.mezzi}}</p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <mat-icon aria-hidden="false" style="color: rgb(207, 207, 207)">person_pin</mat-icon> &nbsp;&nbsp;
              <strong style="font-size: 14px">Operai: </strong> &nbsp;&nbsp;<p style="font-size: 14px;"
                class="pContainer">{{element.operai}}</p>
            </mat-list-item>
            <mat-divider></mat-divider>

            <h3 mat-subheader>
              <mat-icon aria-hidden="false" style="color: rgb(207, 207, 207)">create</mat-icon> Firma:
            </h3>
            <mat-list-item style="margin-bottom: 20px">
              <p style="font-size: 14px; ">&nbsp;&nbsp; Direttore dei Lavori: &nbsp;&nbsp;&nbsp;&nbsp;</p>
              <!-- <mat-icon aria-hidden="false" style="color: lightgreen" aria-label="Firma">check_circle</mat-icon> -->

              <button *ngIf="controlSign(element.approvato)" mat-stroked-button disabled="true"
              style="position: relative; bottom: 3px; right: 13px;" aria-hidden="false" aria-label="Firma">
              <mat-icon>lock_outlined</mat-icon>
              Firmato
            </button>
              <button *ngIf="!controlSign(element.approvato)" mat-stroked-button color="warn"
                style="position: relative; bottom: 3px; right: 13px" aria-hidden="false" aria-label="Firma"
                (click)='gdlSignItem(element, dataSource.filteredData.indexOf(element))'>
                <mat-icon>lock_open</mat-icon>
                Firma
              </button>

            </mat-list-item>
          </mat-list>
          <div class="allinea">
            <mat-card>
              <img mat-card-image src="../../../../../assets/SAM-logos/icon-left-font-monochrome-white.svg" height="100"
                width="150">
            </mat-card>
          </div>

        </div>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

  </table>

  <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->

  <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
</div>