.dialogContainer{
  width: 700px;
  height: 3000px
}

.dialogTitle{
  text-align: center;
  width: 700px;

}

.leftText{
  position: absolute;
   left:5px; 
   bottom: 5px
}

.greenClass{ color: lightgreen}

.redClass{color: red}