<h2 mat-dialog-title>Aggiunta Nuovo Pagamento</h2>
<mat-vertical-stepper [linear]=true #stepper>
  <mat-step [stepControl]="firstForm">
      <form [formGroup]="firstForm">
        <ng-template matStepLabel>
          Data, Lavoro e Libretto
        </ng-template>
        <mat-form-field>
          <input matInput formControlName="data" [matDatepicker]="picker" placeholder="Scegli una data">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput formControlName="lavoro" placeholder="Lavoro" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput formControlName="libretto" placeholder="Libretto" required>
      </mat-form-field>
        <div>
            <button mat-raised-button color="primary" matStepperNext>Successivo</button>
        </div>
        </form>
  </mat-step>
  <mat-step [stepControl]="secondForm">
      <form [formGroup]="secondForm">
        <ng-template matStepLabel>
          Tariffa
        </ng-template>
        <mat-form-field>
          <input matInput placeholder="Inserisci Tariffa" formControlName="tariffa" required>
        </mat-form-field>
        <div>
          <button mat-raised-button color="accent" matStepperPrevious style="right: 20px">Indietro</button>
          <button mat-raised-button color="primary" matStepperNext>Successivo</button>
        </div>
      </form>
  </mat-step>
  <mat-step [stepControl]="thirdForm">
      <form [formGroup]="thirdForm">
        <ng-template matStepLabel>
         Quantità e Prezzo
        </ng-template>
        <mat-form-field>
          <input matInput placeholder="Inserisci Prezzo €" formControlName="prezzo" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Inserisci Quantità" formControlName="quantita" required>
        </mat-form-field>
        <div>
          <button mat-raised-button color="accent" matStepperPrevious style="right: 20px">Indietro</button>
          <button mat-raised-button color="primary" matStepperNext>Successivo</button>
        </div>
      </form>
  </mat-step>
  <mat-step [stepControl]="fourthForm">
    <form [formGroup]="fourthForm">
      <ng-template matStepLabel>
        Importo
      </ng-template>
      <mat-form-field>
        <input matInput placeholder="Inserisci Importo" formControlName="importo" required>
      </mat-form-field>
      <div>
        <button mat-raised-button color="accent" matStepperPrevious style="right: 20px">Indietro</button>
        <button mat-raised-button color="primary" matStepperNext>Successivo</button>
      </div>
    </form>
</mat-step>
  <mat-step>
      <ng-template matStepLabel>Fatto!</ng-template>
      <div>
        <button mat-raised-button color="warn" style="right:20px" (click)="stepper.reset()">Reset</button>
        <button mat-raised-button color="primary" (click)="sendNewRegistry()">Invia</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
