.logo {
    padding: 0 14px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }

  mat-sidenav-container {
    height: 760px;
  }

  mat-sidenav, mat-sidenav-content{
    padding-left: 0px;
  }

  .tab-icon {
    margin-right: 10px; 
  }

  .example-container {
    width: 400px;
    height: 200px;
    margin: 12px;
    border: 1px solid #555;
  }
  
  
  
  mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

