<mat-toolbar class="main-toolbar" color="primary">
    <button class="menu" mat-icon-button color="link" (click)="opened=!opened; rotate()" *ngIf="isUsr()">
        <mat-icon class="icon-menu" [@rotatedState]="state">arrow_forward_ios</mat-icon>
    </button>
    <button class="menu" mat-button color="link" (click)="home()" *ngIf="!isUsr()">
        <mat-icon class="icon-menu" [@rotatedState]="state">home</mat-icon>
    </button>
    <span class="spacer"></span>
    <img class="logo" src="../../../../assets/SAM-logos/icon-left-font-monochrome-white.svg" height="150" width="150">
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav mode="push" [(opened)]="opened">
        <mat-card class="example-card">
            <mat-card-header>
                <img mat-card-avatar class="example-header-image" [src]="profile?.picture">
                <mat-card-title>{{profile?.nickname}}</mat-card-title>
                <mat-card-subtitle>{{role}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-list>
                    <mat-list-item>{{profile?.name}}</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Item 2</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Item 3</mat-list-item>
                </mat-list>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button (click)="authService.logout()" color="link">Logout</button>
            </mat-card-actions>
        </mat-card>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-tab-group>
            <mat-tab color="primary">
                <ng-template mat-tab-label>
                    <mat-icon class="tab-icon">event_note</mat-icon>
                    Giornale dei Lavori
                </ng-template>
                <ng-content select="[gdl]"></ng-content>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="tab-icon">collections_bookmark</mat-icon>
                    Libretto delle Misure
                </ng-template>
                <ng-content select="[ldm]"></ng-content>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="tab-icon">format_list_numbered_rtl</mat-icon>
                    Registro Contabilità
                </ng-template>
                <ng-content select="[rc]"></ng-content>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="tab-icon">multiline_chart</mat-icon>
                    SAL
                </ng-template>
                <ng-content select="[sal]"></ng-content>
            </mat-tab>
        </mat-tab-group>
    </mat-sidenav-content>

</mat-sidenav-container>