<mat-card class="signCard">
  <mat-card-header>
    <mat-icon style="color: lightgrey">create</mat-icon>
    <mat-card-title>Approvazione Lavoro</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <mat-list>
          <mat-list-item> <strong>Annotazioni:</strong>&nbsp;{{data.lavoro.annotazioni}} </mat-list-item>
          <mat-list-item> <strong>Data:</strong>&nbsp;{{data.lavoro.data}} </mat-list-item>
          <mat-list-item> <strong>Meteo:</strong>&nbsp;{{data.lavoro.meteo}} </mat-list-item>
          <mat-list-item> <strong>Operai:</strong>&nbsp;{{data.lavoro.operai}} </mat-list-item>
          <mat-list-item> <strong>Mezzi:</strong>&nbsp;{{data.lavoro.mezzi}} </mat-list-item>
         </mat-list>
    <p style="margin-top: 20px">
      Sei sicuro di voler approvare questo lavoro ?
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" (click)="sign(data.id)">
      <mat-icon>check</mat-icon>
      Conferma</button>
    <button mat-button color="link" (click)="close()">
        <mat-icon>exit_to_app</mat-icon>
      Annulla</button>
  </mat-card-actions>
</mat-card>