<h3 mat-dialog-title class="dialogTitle">
  <h3>Registro contabilità</h3>
</h3>
<div mat-dialog-content class="dialogContainer">


  <mat-divider></mat-divider>

  <mat-grid-list cols="4" rowHeight="70px">

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      
      <h4> Oggetto:</h4>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="3" [rowspan]="1">
      {{this.oggettoRC}}

    </mat-grid-tile>

  </mat-grid-list>

  <mat-divider></mat-divider>

  <mat-grid-list cols="4" rowHeight="70px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <h4>Committente:</h4>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      {{this.committenteRC}}
    </mat-grid-tile>
  </mat-grid-list>

  <mat-divider></mat-divider>

  <mat-grid-list cols="4" rowHeight="70px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <h4>Impresa:</h4>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">{{this.impresaRC}}
    </mat-grid-tile>

  </mat-grid-list>

  <mat-divider></mat-divider>
  
  <mat-grid-list cols="4" rowHeight="70px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <h4>Prezzo Totale:</h4>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">{{this.prezzoTotale}}
    </mat-grid-tile>

  </mat-grid-list>
  
  <mat-divider></mat-divider>


  <mat-grid-list cols="4" rowHeight="70px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <h4>Firma Rup:</h4>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">Bianchi arch. Alberto
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-icon aria-hidden="false" style="color: lightgreen"  aria-label="Firma">check_circle</mat-icon>
    </mat-grid-tile>
  </mat-grid-list>

</div>

<div mat-dialog-actions style=" justify-content: flex-end;">
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</div>