<div [@.disabled]="disableAnimation">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Giornale dei Lavori
        </mat-panel-title>
        <mat-panel-description>
          {{this.GDLsignMissing}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <strong>Direttore dei lavori: &nbsp;&nbsp; </strong>

      <button mat-stroked-button color="primary" *ngIf="GDLsignDL" style="float: right;" [disabled]="DLlog">
        <mat-icon>lock_outlined</mat-icon>&nbsp;&nbsp; Firmato
      </button>

      <button mat-stroked-button color="primary" *ngIf="!GDLsignDL" style="float: right;" [disabled]="DLlog" (click)="setGDLsign()">
        <mat-icon>lock_open</mat-icon> &nbsp; Firma
      </button>

      <br>
      <br>

      <mat-divider></mat-divider>

      <br>
      <strong>Impresa: &nbsp;&nbsp; </strong>

      <button mat-stroked-button color="primary" *ngIf="GDLsignAA" style="float: right;" [disabled]="AAlog">
        <mat-icon>lock_outlined</mat-icon>&nbsp;&nbsp; Firmato
      </button>

      <button mat-stroked-button color="primary" *ngIf="!GDLsignAA" style="float: right;" [disabled]="AAlog"  (click)="setGDLsign()">
        <mat-icon>lock_open</mat-icon> &nbsp; Firma
      </button>
      <br>
      <br>

      <mat-divider></mat-divider>

      <br>
      <strong>Responsabile del Procedimento: &nbsp;&nbsp; </strong>
      <button mat-stroked-button color="primary" *ngIf="GDLsignRUP" style="float: right;" [disabled]="RUPlog">
        <mat-icon>lock_outlined</mat-icon>&nbsp;&nbsp; Firmato
      </button>

      <button mat-stroked-button color="primary" *ngIf="!GDLsignRUP" style="float: right;" [disabled]="RUPlog"  (click)="setGDLsign()">
        <mat-icon>lock_open</mat-icon> &nbsp; Firma
      </button>
      <br>
      <br>
      <mat-divider></mat-divider>
      <br>

    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Libretto delle Misure
        </mat-panel-title>
        <mat-panel-description>
          {{this.LDMsignMissing}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <br>
      <strong>Responsabile del Procedimento: &nbsp;&nbsp; </strong>
      <button mat-stroked-button color="primary" *ngIf="LDMsignRUP" style="float: right;" [disabled]="RUPlog">
        <mat-icon>lock_outlined</mat-icon>&nbsp;&nbsp; Firmato
      </button>

      <button mat-stroked-button color="primary" *ngIf="!LDMsignRUP" style="float: right;" [disabled]="RUPlog" (click)="setLDMsign()">
        <mat-icon>lock_open</mat-icon> &nbsp; Firma
      </button>

      <br>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Registro contabilità
        </mat-panel-title>
        <mat-panel-description>
          {{this.RCsignMissing}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <br>

      <strong>Responsabile del Procedimento: &nbsp;&nbsp; </strong>
      <button mat-stroked-button color="primary" *ngIf="RCsignRUP" style="float: right;" [disabled]="RUPlog">
        <mat-icon>lock_outlined</mat-icon>&nbsp;&nbsp; Firmato
      </button>

      <button mat-stroked-button color="primary" *ngIf="!RCsignRUP" style="float: right;" [disabled]="RUPlog" (click)="setRCsign()">
        <mat-icon>lock_open</mat-icon> &nbsp; Firma
      </button>
      <br>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<br>
<div align='center'>
  <button mat-stroked-button color="primary" (click)="authService.logout()">Logout <mat-icon>power_settings_new</mat-icon></button>
</div>