<mat-card class="signCard">
  <mat-card-header>
    <mat-icon style="color: lightgrey">create</mat-icon>
    <mat-card-title>Approvazione Misura</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <mat-list>
          <mat-list-item> <strong>Indicazioni:</strong>&nbsp; {{data.voce['indicazione']}} </mat-list-item>
          <mat-list-item> <strong>Data:</strong>&nbsp; {{data.voce.data}} </mat-list-item>
          <mat-list-item> <strong>Tariffa:</strong>&nbsp;{{data.voce['tariffa']}}  </mat-list-item>
          <mat-list-item> <strong>Costo:</strong>&nbsp;{{data.voce['prez_unit']}}  </mat-list-item>
          <mat-list-item> <strong>Aliquota:</strong>&nbsp;{{data.voce['aliq']}}% </mat-list-item>
          <mat-list-item> <strong>Percentuale:</strong>&nbsp;{{data.voce['percentuale']}}% </mat-list-item>
          <mat-list-item> <strong>Debito:</strong>&nbsp;{{data.voce['debito']}} </mat-list-item>
         </mat-list>
    <p style="margin-top: 20px">
      Sei sicuro di voler approvare questa voce ?
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" (click)="sign(data.id)">
      <mat-icon>check</mat-icon>
      Conferma</button>
    <button mat-button color="link" (click)="close()">
        <mat-icon>exit_to_app</mat-icon>
      Annulla</button>
  </mat-card-actions>
</mat-card>