<div>
    <mat-form-field class="example-full-width" style="margin-left: 15px; margin-top: 15px">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <mat-icon aria-hidden="false" color="primary" aria-label="Sal - Info" (click)="salInfoDialog()" class="iconInfo">info_outline</mat-icon>

      <mat-icon aria-hidden="false" color="primary" aria-label="Communication" (click)="emailDialog()"
      class="iconInfoEmail">email</mat-icon>

      <mat-icon aria-hidden="false" color="primary" aria-label="Communication" (click)="chartDialog()"
      class="iconInfoChart">bar_chart</mat-icon>
      
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

          <ng-container matColumnDef="Num">
            <td mat-cell *matCellDef="let element">{{dataSource.filteredData.indexOf(element)}}</td>
            <th mat-header-cell *matHeaderCellDef> Num. </th>
          </ng-container>
      
          <ng-container matColumnDef="Data">
            <td mat-cell *matCellDef="let element"> {{element.data}} </td>
            <th mat-header-cell *matHeaderCellDef> Data </th>
          </ng-container>
      
          <ng-container matColumnDef="Indicazioni">
            <td mat-cell *matCellDef="let element">
              <p class="maxChar">{{element.indicazione}} </p>
            </td>
            <th mat-header-cell *matHeaderCellDef> Indicazioni </th>
          </ng-container>
      
      
          <ng-container matColumnDef="Informazioni">
            <td mat-cell *matCellDef="let element">
              <p class="pointer"> &nbsp;&nbsp;&nbsp;&nbsp; <mat-icon aria-hidden="false" style="color: rgb(0, 0, 0)">
                  arrow_drop_down</mat-icon>
              </p>
            </td>
            <th mat-header-cell *matHeaderCellDef> </th>
          </ng-container>
      
          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
              <div class="example-element-detail" style="padding-top: 0.05cm"
                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
      
      
              
                
                <mat-list>
                    <h3 mat-subheader>Lavoro Num. 0</h3>
                    <mat-list-item>
                      <mat-icon aria-hidden="false" style="color: rgb(207, 207, 207)">date_range</mat-icon>
                      <strong style="font-size: 14px">Data: </strong> &nbsp;&nbsp;<p style="font-size: 14px; ">&nbsp;&nbsp; {{element.data}}</p>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                      <mat-icon aria-hidden="false" style="color: rgb(207, 207, 207)">confirmation_number</mat-icon> &nbsp;&nbsp;
                      <strong style="font-size: 14px">Tariffa: </strong> &nbsp;&nbsp; <p style="font-size: 14px;" class="pContainer">{{element.tariffa}}</p>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                      <mat-icon aria-hidden="false" style="color: rgb(207, 207, 207)">create</mat-icon> &nbsp;&nbsp;
                      <strong style="font-size: 14px">Indicazione: </strong> &nbsp;&nbsp;<p style="font-size: 14px;" class="pContainer">{{element.indicazione}}</p>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                      <mat-icon aria-hidden="false" style="color: rgb(207, 207, 207)">euro_symbol</mat-icon> &nbsp;&nbsp;
                      <strong style="font-size: 14px">Costo: </strong> &nbsp;&nbsp;<p style="font-size: 14px;" class="pContainer">{{element.importoUnitario}}</p>
                    </mat-list-item>
                    <mat-divider></mat-divider>
      
                    <mat-list-item>
                        <mat-icon aria-hidden="false" style="color: rgb(207, 207, 207)">euro_symbol</mat-icon> &nbsp;&nbsp;
                        <strong style="font-size: 14px">Percentuale: </strong> &nbsp;&nbsp; <p style="font-size: 14px;" class="pContainer">{{element.quantita}}%</p>
                      </mat-list-item>
                      <mat-divider></mat-divider>
      
                      <mat-list-item>
                          <mat-icon aria-hidden="false" style="color: rgb(207, 207, 207)">check</mat-icon> &nbsp;&nbsp;
                          <strong style="font-size: 14px">Aliquota: </strong> &nbsp;&nbsp;<p style="font-size: 14px;" class="pContainer">{{element.aliq}}%</p>
                        </mat-list-item>

                        <mat-divider></mat-divider>
      
                        <mat-list-item>
                            <mat-icon aria-hidden="false" style="color: rgb(207, 207, 207)">check</mat-icon> &nbsp;&nbsp;
                            <strong style="font-size: 14px">Totale: </strong> &nbsp;&nbsp;<p style="font-size: 14px;" class="pContainer">{{element.tot}}</p>
                          </mat-list-item>
                  </mat-list>
      

              </div>
      
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      
        </table>
      
        <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
      
        <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
      </div>