@media screen and (min-width: 1005px) {
    .public-home-buttons button {
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 5px;
        width: 100px;
        border-radius: 50px 50px 50px 50px;
        
    }
    
    .public-home-buttons {
        text-align: center;
    }
    
    .public-home-toolbar {
        background-color: transparent 
    }
    
    /* Style the video: 100% width and height to cover the entire window */
    #myVideo {
        position: fixed;
        bottom: 0;
        width:100%;     
        height: auto;
        z-index: -1;
      }

      .login-logo {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 3000px 3000px 3000px 3000px;
        border-top: 55px solid rgba(0, 0, 0, 0);
        border-bottom: 55px solid rgba(0, 0, 0, 0);
        margin-left: 38%;
        margin-right: 38%;
        position: relative;
        top: 130px;
    }
    
    .public-home-logo {
        margin-bottom: 20px; 
    }

    .logo {
        height: 170px;
        width: 180px;
        -webkit-mask-box-image: url(../../../../assets/SAM-logos/white_logo.png);
    }
    
    .logo_sam {
        height: 40px;
        width: 150px;
        margin-right: 30px; 
        -webkit-mask-box-image: url(../../../../assets/SAM-logos/icon-left-font-monochrome-white.svg);
    }

    .public-home-toolbar button {
        border-left: solid 1px white;
    }

}

@media screen and (max-width: 1006px) {
    .public-home-buttons button {
        margin-right: 5px;
        margin-left: 5px;
        width: 110px
    }
    
    .public-home-buttons {
        text-align: center;
    }
    
    .public-home-toolbar {
        background-color: transparent 
    }
    
    /* Style the video: 100% width and height to cover the entire window */
    #myVideo {
        position: fixed;
        bottom: 0;
        width:100%;     
        height: auto;
        z-index: -1;
      }
    
    .public-home-logo {
        margin-bottom: 20px; 
    }

    .logo {
        height: 130px;
        width: 130px;
    }

    .login-logo {
        position: relative;
        top: 120px
    }

    .logo {
        height: 170px;
        width: 180px;
        -webkit-mask-box-image: url(../../../../assets/SAM-logos/white_logo.png);
    }
    
    .logo_sam {
        height: 40px;
        width: 150px;
        margin-right: 30px; 
        -webkit-mask-box-image: url(../../../../assets/SAM-logos/icon-left-font-monochrome-white.svg);
    }

    .public-home-toolbar button {
        border-left: solid 1px white;
        display: none;
    }

}



@media (min-aspect-ratio: 16/9) {
    #myVideo {
        width:100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #myVideo { 
        width:auto;
        height: 100%;
    }
}

