<mat-toolbar class="public-home-toolbar">
    <div class="logo_sam" style="background-color: aliceblue"></div>
    <button mat-flat-button color="primary" style="background-color: transparent">
        Servizi
        <i class="material-icons">share</i>
    </button>
    <button mat-flat-button color="primary" style="background-color: transparent">
        Sicurezza
        <i class="material-icons">security</i>
    </button>
    <button mat-flat-button color="primary" style="background-color: transparent">
        Contatti
        <i class="material-icons">contacts</i>
    </button>
    <button mat-flat-button color="primary" style="background-color: transparent">
        FAQ
        <i class="material-icons">contact_support</i>
    </button>
</mat-toolbar>
<div class="login-logo" align="center">
    <div class="public-home-logo" align="center">
        <div class="logo" style="background-color:aliceblue"></div>
    </div>
    <div class="public-home-buttons" align="center">
        <button mat-raised-button (click)="authService.login()" color="primary">
            Login 
            <i id="login" class="material-icons">lock_open</i>
        </button>
        <button mat-raised-button style="background-color: aliceblue" (click)="appalti()">
            Appalti
            <i id="app" class="material-icons">work_outline</i>
        </button>
    </div>
</div>


<!-- The video -->
<video id="myVideo" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
    <source src="../../../../assets/videos/build.mp4" type="video/mp4">
</video>
