<h2 mat-dialog-title>Aggiunta Nuovo Lavoro</h2>
<mat-vertical-stepper [linear]=true #stepper>
  <mat-step [stepControl]="firstForm">
      <form [formGroup]="firstForm">
        <ng-template matStepLabel>
          Meteo e Data
        </ng-template>
        <mat-form-field>
          <input matInput placeholder="Meteo" formControlName="meteo" required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput [min]="minDate" formControlName="data" [matDatepicker]="picker" placeholder="Scegli una data">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div>
            <button mat-raised-button color="primary" matStepperNext>Successivo</button>
        </div>
        </form>
  </mat-step>
  <mat-step [stepControl]="secondForm">
      <form [formGroup]="secondForm">
        <ng-template matStepLabel>
          Annotazioni
        </ng-template>
        <mat-form-field>
          <textarea matInput placeholder="Inserisci Annotazioni" formControlName="annotazioni" required></textarea>
        </mat-form-field>
        <div>
          <button mat-raised-button color="accent" matStepperPrevious style="right: 20px">Indietro</button>
          <button mat-raised-button color="primary" matStepperNext>Successivo</button>
        </div>
      </form>
  </mat-step>
  <mat-step [stepControl]="thirdForm">
      <form [formGroup]="thirdForm">
        <ng-template matStepLabel>
          Operai e mezzi
        </ng-template>
        <mat-form-field>
          <div>
              <textarea matInput placeholder="Inserisci Operai" formControlName="operai" required></textarea>
          </div>
        </mat-form-field>
        <br>
        <mat-form-field>
            <div>
                <textarea matInput placeholder="Inserisci Mezzi" formControlName="mezzi" required></textarea>
            </div>
          </mat-form-field>
        <div>
          <button mat-raised-button color="accent" matStepperPrevious style="right: 20px">Indietro</button>
          <button mat-raised-button color="primary" matStepperNext>Successivo</button>
        </div>
      </form>
  </mat-step>

  <mat-step>
      <ng-template matStepLabel>Fatto!</ng-template>
      <div>
        <button mat-raised-button color="warn" style="right:20px" (click)="stepper.reset()">Reset</button>
        <button mat-raised-button color="primary" (click)="sendNewWork()">Invia</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
