.example-container {
    display: flex !important;
    flex-direction: column;
  }
  
  .example-container > * {
    
    width: 100%;
  }


  

  .dialogGridList{
    width: 600px;
   
  }

  .dialogGridTile{
    display: flex !important;
    flex-direction: column;
   
  }